body{
  font-family: Helvetica;
}

.title{
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url(./resources/pattern.jpeg);
}

.sectionheader{
  font-size: 32px;
  font-weight: bold;
  color: white;
}

#brushes{
  background-color: mediumspringgreen;
}

#frames{
  background-color: lightcoral;
}

#paint{
  background-color: skyblue;
}

.price{
  color: blue;
}
